body.dark-mode .main,
body.dark-mode .main-bottom {
    background: #212529;
}

body.dark-mode .sidebar {
    background: #2d3032;
    color: #e9ecef;
}

/* 
body.dark-mode .user-profile {
    background: #212529;
    color: #c4c7c5;
    border: 2px solid #474d53;
}

body.dark-mode .user-profile:hover {
    box-shadow: 0 1px 8px 0 #ffffff33;
} */


body.dark-mode .switch-account,
body.dark-mode .user-menu {
    background: #212529;
    color: #e9ecef;
    border: 2px solid #474d53;
}

body.dark-mode .switch-account:hover {
    background: #1e2226;
}


body.dark-mode .main .nav,
body.dark-mode .card p {
    color: #c4c7c5;
}

body.dark-mode .main .card {
    background: #343a40;
}

body.dark-mode .main .card img {
    background: #6c757d;
    color: #c4c7c5;
}

body.dark-mode .result-title,
body.dark-mode .result-data,
body.dark-mode .input-search {
    color: #e9ecef;
}

body.dark-mode .search-box {
    background: #212529;
    border: 1px solid #495057;
}

body.dark-mode .card .bottom-icon {
    background: #495057;
    color: #c4c7c5;
}

body.dark-mode .input-icon,
body.dark-mode .bottom-item,
body.dark-mode .recent-entry,
body.dark-mode .new-chat {
    color: #adb5bd;
}

body.dark-mode .bottom-info {
    color: #6c757d;
}


/* sidebar theme */

body.dark-mode .bottom-item:hover,
body.dark-mode .new-chat:hover,
body.dark-mode .recent-entry:hover,
body.dark-mode .menu-icon:hover {
    background: #495057;
}

body.dark-mode .loader hr {
    background: linear-gradient(to right, #495057, #ffffff, #495057);
}