body.dark-mode .main,
body.dark-mode .sidebar {
    background: #212529;
}

body.dark-mode .main .nav,
body.dark-mode .card p {
    color: #c4c7c5;
}

body.dark-mode .main .card {
    background: #343a40;
}

body.dark-mode .main .card img {
    background: #6c757d;
    color: #c4c7c5;
}

body.dark-mode .result-title,
body.dark-mode .result-data,
body.dark-mode .input-search {
    color: #e9ecef;
}

body.dark-mode .search-box {
    background: #212529;
    border: 1px solid #495057;
}

body.dark-mode .card .bottom-icon {
    background: #495057;
    color: #c4c7c5;
}

body.dark-mode .input-icon,
body.dark-mode .bottom-item,
body.dark-mode .recent-entry,
body.dark-mode .new-chat {
    color: #adb5bd;
}

body.dark-mode .bottom-info {
    color: #6c757d;
}


/* sidebar theme */
body.dark-mode .sidebar {
    color: #e9ecef;
}

body.dark-mode .bottom-item:hover,
body.dark-mode .new-chat:hover,
body.dark-mode .recent-entry:hover,
body.dark-mode .menu-icon:hover {
    background: #495057;
}

body.dark-mode .loader hr {
    background: linear-gradient(to right, #495057, #ffffff, #495057);
}